import yfinance as yf
import streamlit as st
import pandas as pd
st.write("""
STOCK PRICE PREDICTION APP
""")
tickerSymbol="GOOGL"
tickerdata=yf.Ticker(tickerSymbol)
tickerdf=tickerdata.history(period='1d',start='2010-5-31',end='2020-5-31')
st.line_chart(tickerdf.Close)
st.line_chart(tickerdf.Volume)

